@import '../../../utils/default.less';


.main {

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -240px 0 0 -190px;
  width: 380px;
  height: 480px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0, 0, 0, .08);
  background: #001529;


  h3 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #FFFFFF;
  }

  .getCaptcha {
    display: block;
    width: 100%;
    margin-top: 4px;
  }

  .submit {
    width: 100%;
  }

}
