<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A admin dashboard application demo built upon Ant Design and Dva.js">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <title>蜂鸟科技</title>
  <!--<script type="text/javascript" src="https://www.recaptcha.net/recaptcha/api.js" async="async" defer="defer"></script>-->
</head>
<body>
<div id="root"></div>
</body>

</html>
